
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

h1,h2,h3,h4,h5,h6,p,ul,ol,body
{
    margin: 0;
    padding: 0;
}

ul,ol
{
    list-style: none;
}

a
{
    text-decoration: none;
}

img, audio, video, iframe{
    display: block;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECF2F8;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.card
{
    width: 327px;
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    border-radius: 14px;
    background-color: #fff;
}

.card-image
{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card-image img
{
    width: 100%;
    height: auto;
    position: absolute;
    top: -16px;
}

.card-body 
{
    padding: 36px 32px 20px;
    position: relative;
}

.card-body .card-header
{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    box-sizing: border-box;
}

.card-body p.card-text
{
    margin-bottom: 22px;
    color: #6D7F97;
    line-height: 20px;
    letter-spacing: 0.18px;
}

.post-info, .share
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.writter-avatar
{
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 16px;
    border-radius: 20px;
    overflow: hidden;
}

.writter-avatar img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.post-info>div{
    margin-right: 40px;
}

.post-info small.post-date
{
    color: #9EAFC2;
}

h1.card-title, h3.writter-name
{
    color: #48556A;
}

.btn
{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-share
{
    display: block;
    /* position: relative; */
    border: none;
    border-radius: 16px;
    overflow: hidden;
    background-color: #ECF2F8;
    cursor: pointer;
    z-index: 10;
}

.btn-share.active{
    background-color: #6D7F97;
}

.btn-share.active path{
    fill: #fff;
}

.share
{
    
    padding: 22px 32px;
    box-sizing: border-box;
    display: none;
    background-color:#48556A;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    position: absolute;
    left: 0;
    z-index: 9;
}

.share.show{
    display: flex;
}

.share span
{
    margin-right: 13px;
    color:#fff;
    letter-spacing: 5.1px;
}

.social-share
{
    display: flex;
    flex-direction: row;
}

.social-share .btn
{
    margin:0 2px;
}

@media all and (max-width:729px){
    .share
    {
        width: 100%;
    }

    .card-image
    {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }
}
@media all and (min-width:730px){
    .card{
        width: 730px;
        height: 281px;
        flex-direction: row;
        align-items: stretch;
    }

    .card-image
    {
        flex-shrink: 0;
        width: 285px;
        height: 100%;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }

    .card-image img
    {
        width: auto;
        height: 100%;
        top: 0;
    }

    .card-body
    {
        padding: 32px 40px 31px;
    }

    .card-body .card-header
    {
        font-size: 20px;
        letter-spacing: 0.26px;
        line-height: 28px;
    }

    .card-body .card-text
    {
        
        letter-spacing: 0.23px;
        line-height: 20px;
    }

    .post-info{
        position: relative;
    }

    .post-info>div
    {
        margin-right: 140px;
    }

    .share{
        flex-grow: 0;
        padding: 11px 30px;
        border-radius: 10px;
        bottom: 160%;
        left: 60%;
        margin-left: 2px;
    }

    .share::after{
        content: '';
        border-top: 12px solid #48556A;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -12px;  
    }
} 